<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
<h2>User Login</h2>
<form th:action="@{/api/loginPage}" method="post">
    <label for="userName">Username:</label>
    <input type="text" id="userName" name="userName" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Login">
</form>
</body>
</html>
